body{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    overflow: hidden;
}

img{
    width: 490px;
    height: 490px;
    border-radius: 16px;
}

h1{
    font-family: 'Lobster', cursive;
    margin-left: 25px;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: coral;
    border: outset;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
}

.btn:hover {
    background-color: rgba(255, 127, 81, 0.911);
    border: outset;
    color: black;
  }

  .btn:active {
    background-color: rgba(255, 127, 81, 0.911);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }