body{
    background-color: rgb(46, 46, 46);
    color: black;
}

h1{
    font-family: 'Anton', sans-serif;
}

h3{
    font-family: 'Sawarabi Gothic', sans-serif;
}

.title{
    font-family: 'Sawarabi Gothic', sans-serif;
}

.txt{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.neg{
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.back{
    background-color: white;
    background-size: contain;
    margin-left: 330px;
    margin-right: 250px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-right: 100px;
}
.me{
    background-color: rgb(105, 5, 5);
    color: whitesmoke;
    padding: 20px 0px 20px 0px;
    width: 240px;
    position: fixed;
    text-align: center;
    margin-left: 100px;
}

.exp{
    position: relative;
    margin-left: 370px;
    margin-bottom: 100px;
}

.form{
    position: relative;
    margin-left: 370px;
    margin-bottom: 100px;
}

.awards{
    position: relative;
    margin-left: 370px;
    margin-bottom: 100px;
}

.skills{
    position: relative;
    margin-left: 370px;
    margin-bottom: 100px;
}

.perfil{
    position: relative;
    margin-left: 370px;
    margin-bottom: 100px;
}

.btn {
    background-color: rgb(105, 5, 5);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: whitesmoke;
    color: rgb(105, 5, 5);
  }