body {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Anton", sans-serif;
  background-color: rgba(48, 48, 48, 0.452);
}

.nav {
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Staatliches", cursive;
  display: flex;
  align-items: center;
  
}

.home{
  width: 100px;
  image-resolution: 100%;
  margin: 0;
  transition: 1.0s;
}

.title {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 85px;
  font-family: "Staatliches", cursive;
  display: flex; 
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: 330px;
}

.tudo {
  align-items: flex-end;
  padding-top: 40px;
}

.card {
  padding: 0px 125px 0px 125px;
  position: relative;
  height: 350px;
}

.card2 {
  padding: 0px 125px 0px 800px;
  position: relative;
  height: 350px;
}

.card3 {
  padding: 00px 125px 0px 125px;
  position: relative;
  height: 350px;
}

.card4 {
  padding: 0px 125px 0px 800px;
  position: relative;
  height: 350px;
}

.txt1 {
  position: absolute;
  width: 450px;
  display: flex;
}

.foto1 {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.foto1__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 16px;
}

.foto1__overlay:hover {
  opacity: 4;
  border-radius: 16px;
}

.txt2 {
  position: relative;
  width: 450px;
  display: flex;
  border-radius: 16px;
}

.foto2 {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.foto2__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 16px;
}

.foto2__overlay:hover {
  opacity: 4;
  border-radius: 16px;
}

.txt3 {
  position: relative;
  width: 450px;
  display: flex;
}

.foto3 {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.foto3__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 16px;
}

.foto3__overlay:hover {
  opacity: 4;
  border-radius: 16px;
}

.txt4 {
  position: relative;
  width: 450px;
  display: flex;
}

.foto4 {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.foto4__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 16px;
}

.foto4__overlay:hover {
  opacity: 4;
  border-radius: 16px;
}

.home:hover{
  transform: scale(1.05);
}