body {
  background-color: rgb(0, 0, 0);
}

.title {
  font-family: "Merienda", cursive;
  background-color: rgba(0, 0, 0, 0.692);
  padding: 20px;
  position: absolute;
}

.all {
  position: relative;
  top: 200px;
  font-family: "Roboto Slab", serif;
}

img {
  border-radius: 16px;
  margin: 15px;
}

.txt {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.692);
  margin: 20px;
  padding-bottom: 70px;
}

.txt1 {
  display: flex;
  font-size: 20px;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.548);
  margin: 20px;
}

.txt2 {
  display: flex;
  font-size: 20px;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.548);
  padding-top: 70px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 5px;
  transition: 0.5s;
}

h1 span {
  transition: 0.5s;
}

h1:hover span:nth-child(1) {
  color: cyan;
}
h1:hover span:nth-child(2) {
  color: cyan;
}
h1:hover span:nth-child(3) {
  color: cyan;
}
h1:hover span:nth-child(4) {
  color: cyan;
}
h1:hover {
  color: #222;
}

h1:hover span {
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan,
    0 0 1200px cyan, 0 0 160px cyan;
}
